*{
	margin: 0;
	padding: 0;
}
header{
	width: 100%;
	height: 70px;
	background-color: #153347;
	position: fixed;   
	top: 0; 

}
h1{
	position: absolute;
	padding: 3px;
	float: left;
	margin-left: 2%;
	margin-top: 10px;
	font-family: 'Alfa Slab One', cursive;
	color: #39ca74;
}
span{
	color:#fff;
}
ul{
	width: auto;
	float: right;
	margin-top: 8px;
}
li{
	display: inline-block;
	padding: 15px 30px;
}
a{
	text-align: center;
	color: #fff;
	text-decoration: none;
	font-family: 'Open Sans',sans-serif;
	font-size: 1.2vw;
}
a:hover{
	color: #39ca74;
	transition: 0.5s;
}
body{
	background-image: url(back.jpg);
	background-size: cover;
}
body h3{
	padding: 0;
	margin: 0;
}